Button {
	color: #FFFFFF;
	background-color: #6441A5;
}

TextView {
	vertical-align: center;
}

.sender, .comment, .timestamp {
	padding: 5 15;
}

.timestamp {
	text-align: right;
}

.sender, .timestamp {
	color: #124ee9;
}

.comment {
	color: #030036;
}

.btn-send {
	height: 50;
}