.page {
	color: #262626;
	font-size: 14;
}

.list {
	margin: 5;
    opacity: 0;
}

.list-item {
}

.img {
	margin: 5;
}

.rating {
	font-size: 20;
}

.comments {
	font-size: 20;
}

.grid-filter {
}

.btn {
	background-color: #6441A5;
	color: #FFFFFF;
	font-size: 16;
}