.page {
    color: #262626;
    font-size: 14;
}

.page-title {
    font-size: 24;
}

.list {
    margin: 5;
    opacity: 0;
}

.list-item {}

.img {
    margin: 5;
}

.rating {
	color: #262626;
    font-size: 20;
}

.comments {
	color: #262626;
    font-size: 20;
}